.box {
  background-color:#FDFDBD;
  border: pink thick double;
  width:600px;
  height:400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 60px;
  color: purple;
  margin: 50px;
  text-decoration: underline wavy pink 3px;
}

.image{
  position: relative;
  display: flex;
  width:400px;
  height:150px;
}

.cake {
  position: absolute;
  top:-100px;
  left:140px;
  width: 250px;
  height: 260px;
  transition: all 0.3s linear;
}

.cake:hover {
  transform: scale(1.2); 
  z-index:2;
}

.gift {
  position: absolute;
  top: 20px;
  left:30px;
  width: 150px;
  height: 130px;
  z-index: 1;
  transition: all 0.3s linear;
}

.gift:hover {
  transform: scale(1.3);
}